body {

    background-color: #f2f2f2
}

.nav_menu {

    background: #19b9e7;
    border-bottom: 1px solid #19b9e7;
}

.navbar-nav .open .dropdown-menu {
    width: 200px;
    left:0px;
    right:auto
}

.dropdown-menu>li>a {

    padding: 10px 20px;
}


/*
    Publish post area

*/

.publish_post_area .message {
    margin: 0px 0px 20px;
    width: 424px;
    max-width: 100%;
    min-width: 100%;
    min-height: 66px;
    max-height: 100%;
    resize: none;

}


.loading img {

    margin-top:20px;
    widows: 50px;
    height:50px
}